// Place all the styles related to the Drawings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.drawing-container{
    display: inline-block;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #ccc;
    &:hover {
        border: 1px solid #777;
    }
    .drawing-image{
        display: inline-block;
        img{
            max-width: 800px;
        }
    }
    p{
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 24px;
        color: #F5DFDF;
    }
}

.drawings{
    list-style: none;
    li{
        display: inline-block;
        padding-right: 25px;
    }
}

#latest{
    display: block;
}

.drawing-list{
    list-style: none;
    li{
        text-align: center;
    }
}
.drawing-info{
    p{
        text-align: center;
        font-size: 20px;
    }
}

.drawing-actions{
    text-align: center;
}