

$dark-grey: #222222;

@mixin button-red {
  background-color: #E74C3C;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #BD3E31;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.nav{
  li{
    display: inline-block !important;
    a{
      display: inline-block;
    }
  }
}
.navbar-header{
  margin: 5px 5px;
  padding-top: 7px;
  span{
    color: white;
  }
}
.main-navbar-header{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: inline-block;
  .container{
    width: 100%;
  }
}
.main-buttons{
  float: right !important;
}
.inline-block{
  display: inline-block;
}

.navbar-collapse{
  border-top: none !important;
  box-shadow: none !important;
}

.main-navbar{
  display: inline-block;
  float: right;
  button{
    display: inline-block;
    a{
      display: inline-block;
      margin-left: 5px;
    }
  }
  @media all and (max-width: 590px){
    display: none !important;
  }
}

.navlist{
  margin-bottom: 0 !important;
}

.profile-button{
  //background: image-url("profile.png");
  width: 60px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}
.profile-dropdown{
  background-color: $dark-grey;
  > a{
    color: #9d9d9d;
    padding: 10px 15px;
    display: block;
    
    &:hover{
      text-decoration: none;
      background-color: indigo;
      
    }
  }
}
.hamburger-menu{
  float: right;
}

.hamburger{
  border: 0;
  background-color: #e3301c !important;
  .icon-bar{
    background-color: white;
  }
  @media all and (min-width: 590px){
    display: none !important;
  }
  .side-menu{
    list-style: none;
    float: right;
    padding: 5px 10px;
    position: fixed;
    right: 0px;
    top: 102px;
    z-index: 1000;
    background-color: black;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    
    
    @media all and (min-width: 590px){
      display: none !important;
    }
    @media all and (max-width: 590px){
      width: 30%;
    }
    @media all and (min-width: 490px) and (max-width: 590px){
      width: 40%;
    }
    @media all and (max-width: 490px){
      width: 50%;
    }
    
    > li a{
      display: block;
      text-align: right;
      text-decoration: none;
      padding: 8px 15px;
      color: white;
      &:hover{
        background-color: #e3301c;
      }
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-family: 'Pacifico', cursive;
	font-size: 26px;
  color: #e3301c;
  margin-left: 20px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.action-button
{
	position: relative;
	padding: 5px 10px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none !important;	
	@include button-red;
	
	&:active{
	  transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	  border-bottom: 1px solid;
  }
  &:hover{
    color: #FFFFFF;
    background-color: #e3301c;
  }
}


.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.dropdown{
  display: inline-block;
}

