

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html,body {
  width: 100%;
}
html{
  height: 100%;
}
body{
  min-height: 91%;
}

body {
  padding-top: 60px;
  font: 14px 'Open Sans',sans-serif;
  background-color: lavender;
}

.margin-15px-fixed{
  margin-left: 0px;
  margin-right: 0px;
}

.clear-both{
  clear: both;
}
